<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Look for a vn?</title>
</head>
<body>
    <h1>Search your vn here!</h1>
    <form action="/lookvn" method="post">
        <label for="Title">VN Title</label>
        <input type="text" name="title" id="Title">
        <button type="submit">Search</button>
    </form>
</body>
</html>
